* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: ; */
  background: #192026;
  color: #fff;
}

#main-page {
  width: 100%;
  padding: 10px 100px;
}
/* NAVIGATION */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 2.3rem;
}
.logo-and-list {
  display: flex;
  gap: 6rem;
  width: 50%;
}

.list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.list > a {
  text-decoration: none;
  list-style: none;
  color: #868686;
  font-size: 1.5rem;
}
.list > a:hover {
  color: #fff;
}

.search-box {
  width: 70%;
  display: flex;
  justify-content: end;
}

.search-bar {
  width: 50%;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
  background: none;
  background: #374151;
  color: #868686;
  padding-left: 2rem;
}

/* .search-bar::placeholder {
  color: #868686;
  padding-left: 2rem;
} */

@media (max-width: 50em) {
  .logo-and-list {
    width: 70%;
    gap: 4rem;
  }
}

@media (max-width: 40em) {
  .list {
    gap: 1rem;
  }
  /* .search-box {
    width: 40%;
  } */
}

/* DETAILS PAGE */
.home-container {
  width: 85%;
  margin: 0 auto;
  padding: 0.5rem;
}

.details-container {
  width: 85%;
  margin: 0 auto;
  /* background: red; */
  display: flex;
  /* gap: 2rem; */
  padding: 0.5rem;
}
.movie-name {
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.trailer-description {
  /* background-color: blue; */
  gap: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.trailer {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 0.5rem;
}

/* video, */
iframe {
  /* border: 2px solid black; */
  width: 95%;
  height: 300px;
  border-radius: 10px;
}

.trailer-not-available {
  width: 95%;
  height: 300px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description img {
  width: 200px;
  height: 300px;
  /* border-radius: 20px; */
}
.description > div:first-child {
  display: flex;
  gap: 1rem;
}

.description p {
  font-size: 1.7rem;
}
.description span {
  font-size: 1.2rem;
  color: #868686;
}
.description {
  padding-bottom: 2rem;
}
.description > div:first-child > div {
  /* padding: 0.5rem; */

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.description > div:first-child > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.8rem;
}
.description > div:last-child {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details-popular {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.details-popular-cont {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.details-popular-cont div {
  border: 1px solid black;
  width: 130px;
  height: 200px;
  border-radius: 10px;
}

.imdb {
  width: 40px;
}

.popular-cont-for-details > div {
  width: 400px;
}

.popular-cont-for-details > div > div div,
.popular-cont-for-details > div > div .movie-img {
  width: 150px;
  height: 250px;
}

.popular-cont-for-details .movie-imdb-title {
  height: 50px;
  font-size: 2rem;
}

.popular-cont-for-details .movie-imdb-title p {
  font-size: 1.4rem;
}

.details-movie-img {
  border-radius: 10px;
}
